<!DOCTYPE html>
<html>
<head>

<title>TEST CHATBOT</title>

<style>

body{
font-family:Arial;
background:#f4f4f4;
padding:40px;
}

.chat-box{
background:white;
padding:20px;
border-radius:10px;
width:600px;
margin:auto;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

input{
width:80%;
padding:10px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}

.answer{
margin-top:20px;
background:#eee;
padding:15px;
border-radius:10px;
}

</style>

</head>
<body>
    <div class="chat-box">
    <h2>NEW CHATBOT 🤖</h2>

<form action="/api/chatbot" method="POST" enctype="multipart/form-data">
    <input type="text" name="question" placeholder="Ask question...">
    <br><br>
    <button type="submit">Send</button>
</form>

    {% if answer %}
    <div class="answer">
    {{answer}}
    </div>
    {% endif %}
    </div>

</body>
</html>
